@model SPMIS_Web.Models.Entities.ObjectiveType;

<h1>Add Objective Type</h1>

<form method="post">
    <div class="mt-3">
        <label class="form-label">Objective Type</label>
        <input type="text" class="form-control" asp-for="ObjectiveTypeName" required />
    </div>
    <div class="mt-3">
        <input class="btn btn-primary" type="submit"/>
    </div>
</form>